=link_to '' do
  .nav-bottom__group
    .group__name
      チャットの名前１
    .group__newest-massage
      最新のメッセージ１
=link_to '' do
  .nav-bottom__group
    .group__name
      チャットの名前１
    .group__newest-massage
      最新のメッセージ１

