=link_to '' do
  .nav-bottom__group
    .nav-bottom__group--name
      チャットの名前１
    .nav-bottom__group--newest-massage
      最新のメッセージ１
=link_to '' do
  .nav-bottom__group
    .nav-bottom__group--name
      チャットの名前１
    .nav-bottom__group--newest-massage
      最新のメッセージ１

