.main-massages__massage
  .name
    市川
  .date
    2018/02/01 18:38:00
  .text
    こんにちは！
.main-massages__massage
  .name
    石川
  .date
    2018/02/01 18:38:00
  .text
    ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
.main-massages__massage
  .name
    市川
  .date
    2018/02/01 18:38:00
  .text
    さようなら！
