.nav {
  height: 100vh;
  width: 300px;
  position: absolute;
  box-sizing: border-box;
  .nav-top{
    height: 100px;
    background-color: #253141;
    padding:0 20px;
    box-sizing: border-box;
    &__name {
      height: 16px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      top: 42px;
      bottom: 42px;
      text-align: 16px;
    }
    &__menue {
      display: inline-block;
      float: right;
      position: relative;
      top: 42px;
      bottom: 42px;
      right: 0;
      text-align: 16px;
      &--list{
        display: inline-block;
        color: white;
      }
    }
  }
.nav-bottom{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  &__group{
    color: white;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    &--name{
      height: 15px;
      font-size: 15px;
      margin-bottom: 5px;
      color: white;
    }
    &--newest-massage{
      height: 11px;
      font-size: 11px;
      color: white;
    }
  }
}
}

